.form{
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    width: 90%;
}
.form .form-group{
    width: 100%;
    margin: 10px 0;
}
.form .form-group .form-group-title{
    color: rgba(0, 0, 0, 0.577);
}
.form .form-group .form-group-input{
    width: 100%;
    border: 1px solid var(--gray);
    padding: 10px;
    outline: 0;
    border-radius: 5px;
    transition: 300ms;
    color: rgba(0, 0, 0, 0.381);
    font-size: 20px;
}
.form .form-group .form-group-input:focus,.form .form-group .form-group-select:active{
    outline: 1px solid var(--blue);
    box-shadow: 0 0 30px 1px rgba(0, 162, 255, 0.329);
    transition: 300ms;
    color: rgba(0, 0, 0, 0.851);
}
.form .form-group .form-group-file::file-selector-button{
    background-color: var(--blue);
    color: white;
    border: 0;
    border-radius: 5px;
}
.form .form-group .form-group-button{
    width: 100%;
    padding: 7.5px;
    outline: 0;
    font-size: 20px;
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
    border-radius: 5px;
    transition: 300ms;
}
.form .form-group .form-group-button:hover{
    background-color: rgba(0, 110, 255, 0.614);
    transition: 300ms;
}
.form .form-group .form-group-button:active{
    background-color: white;
    color: var(--blue);
}
.form .form-group .form-group-select{
    width: 100%;
    border: 1px solid var(--gray);
    background-color: white;
    color: rgba(0, 0, 0, 0.381);
    padding: 10px;
    font-size: 20px;
    outline: 0;
    border-radius: 5px;
}
@media only screen and (max-width: 768px){
    .form{
        width: 90%;
    }
}