<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Email</title>
    <style>
        h2{
            font-size: 25px;
            font-weight: 600;
            color: orangered;
        }
        p{
            color: rgb(0,110,255);
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h2>activation</h2>
    <p>to activate your email <a href="{{ url }}">click</a></p>
</body>
</html>