.settings-links{
    width: 80%;
    margin: 10px auto;
    border: 1px solid var(--gray);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.settings-links .settings-link {
    text-decoration: none;
    color: var(--green);
    width: 25%;
    outline: 1px solid var(--green);
    text-align: center;
    padding: 5px;
    transition: 300ms;
    border-radius: 5px;
}
.settings-links .settings-link:hover{
    transition: 300ms;
    box-shadow: 0 0 30px 1px rgba(41, 222, 0, 0.417);
}.settings-links .settings-link:active{
    transition: 100ms;
    transform: translateY(-5px);
}